@font-face {
	font-family: pressStart;
	src: url("../fonts/PressStart2P.ttf");
}
html, body {
	background-attachment: fixed;
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
	background-color: black;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: pressStart;
}

#blocker {

	position: absolute;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.5);

}

#splashscreen, #pause, #end, #death {
	width: 100%;
	height: 100%;


	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;
}

#splashscreen {
	background-image: url("../images/StartScreen.jpg");
	background-repeat: no-repeat;
}

#end {
	background-image: url("../images/cloudssun.png");
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}

#pause {
	visibility: hidden;
	display: -webkit-box;
	display: -moz-box;
	cursor: pointer;
}
#death{
    visibility: hidden;
    display: -webkit-box;
    display: -moz-box;
    
}

#pauseIcon {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
	visibility: hidden;
	color: #ffffff;
	font-size: 200%;
}

#timer-container {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
	color: #ffffff;
	visibility: hidden;
}

input, select, textarea, button{
    color: #000;
}

#analyser_render {
    height: 20%;
    width: 100%;
}

textarea:focus, input:focus {
    color: #000;
}

#yourSeed, #finalTime {
	font-size: 20px;
}

#content {
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	border: 2px dashed white;
	width: 80%;
	margin: auto;
}
